# Godot 4+ specific ignores
.godot/
*.uid

# Godot-specific ignores
*.translation

# Imported textures and samples
.import/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Debug
*.log
OBS-Studio-32.0.4-Windows-x64-Installer.exe
test.zip
